@model OxygenConverterWebApp.Models.LocalPasswordModel

<p>
    У вас нет локального пароля для этого сайта. Добавьте пароль,
    чтобы входить без внешнего логина.
</p>

@using (Html.BeginForm("Manage","Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Задание пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Задать пароль" />
    </fieldset>
}

